body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .calculadora {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }
  .botoes button {
    margin: 5px;
    padding: 10px;
  }
  #historico {
    margin-top: 20px;
    max-width: 300px;
  }
  
  #historico ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  #historico li {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
  }
  
  